<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/deb489d4-142b-4599-be7a-4f26d2282071/resourcegroups/JokesWebApp20210213192052ResourceGroup/providers/Microsoft.Web/sites/JokesWebApp20210213192052</ResourceId>
    <ResourceGroup>JokesWebApp20210213192052ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jokeswebapp20210213192052.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://jokeswebapp20210213192052.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6b7eefbd-fbce-4ed3-b246-b1d12f50c870</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-173.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JokesWebApp20210213192052</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JokesWebApp20210213192052</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>